button {
  background-color: green;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
}
.seat-selecting-area {
  min-width: fit-content;
  min-height: fit-content;
}
.booking-area {
  min-width: fit-content;
  min-height: fit-content;
}
